.button {
  padding: 5px 10px;
}

.button_primary {
  color: white;
  background: black;
}

.button_secondary {
  color: black;
  background: white;
  border: 1px solid grey;
}

.button_disabled {
  opacity: 0.5;
}
